<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_student :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{student.info}"></h2>
            <p class="text-center" th:text="#{student.studentindex}"></p>
        </div>
    </div>


    <th:block th:if="${!studentIndexList.isEmpty()}">
    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <div class="table-responsive">
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{student.studentindex.id}"></th>
                        <th th:text="#{student.studentindex.subject.name}"></th>
                        <th th:text="#{student.studentindex.subject.lecturer}"></th>
                        <th th:text="#{student.studentindex.grade}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="index: ${studentIndexList}">
                        <tr>
                            <td th:text="${index.id}"></td>
                            <td>
                                <a th:text="${index.subject.name}"
                                   th:href="@{/student/student_subject_details/{id}(id=${index.subject.id})}">
                                </a>
                            </td>
                            <td>
                                <a th:text="${index.lecturer.name}"
                                   th:href="@{/student/student_lecturer_details/{id}(id=${index.lecturer.id})}">
                                </a>
                            </td>
                            <td th:text="${index.grade}"></td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    </th:block>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>