<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
    <div class="container">
            <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
                <th:block th:insert="fragments/body :: logoutbutton"/>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
                    <th:block th:insert="fragments/navbar_student :: navbar"/>
                    <th:block th:insert="fragments/body :: lang"/>
                </div>
            </nav>
        <div class="jumbotron" style="margin-top:20px">
            <div class="container">

            <h2 class="text-center" th:text="${lecturer.name}"></h2>
            <p class="text-center" th:text="#{lecturer.info}"></p>

            <form th:object="${lecturer}">

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.email}"></span>
                            </div>
                            <input id="email" type="text" th:class="'form-control' + ${#fields.hasErrors('email') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{email}" readonly>
                            <div class="invalid-feedback" th:text="${#fields.errors('email')}"></div>
                        </div>
                    </div>
                    <div>
                        <a th:href="@{'/student/student_message_lecturer/'+${lecturer.email}}" class="btn btn-success custom-width " th:text="#{message.send}"></a>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.name}"></span>
                            </div>
                            <input id="name" type="text" th:class="'form-control' + ${#fields.hasErrors('name') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{name}" readonly>
                            <div class="invalid-feedback" th:text="${#fields.errors('name')}"></div>
                        </div>
                    </div>
                    <div class="form-row"></div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.surname}"></span>
                            </div>
                            <input id="surname" type="text" th:class="'form-control' + ${#fields.hasErrors('surname') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{surname}" readonly>
                            <div class="invalid-feedback" th:text="${#fields.errors('surname')}"></div>
                    </div>
                    </div>
                    </div>
                    </form>
            </div>
        </div>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{lecturer.subject.list}"></h2>
        </div>
    </div>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <div class="table-responsive">
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{subject.list.id}"></th>
                        <th th:text="#{subject.list.name}"></th>
                    </tr>
                    </thead>

                <tbody>
                <th:block th:each="subject : ${lecturerSubjectList}">
                    <tr>
                        <td th:text="${subject.id}"></td>
                        <td>
                            <a th:text="${subject.name}"
                               th:href="@{/student/student_subject_details/{id}(id=${subject.id})}">
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>

                </table>
                </div>
             </div>
    </div>
    </div>
    </body>
    </html>