<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_student :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>


    <div class="jumbotron" style="margin-top:20px">
        <div class="container">

            <h2 class="text-center" th:text="${subject.name}"></h2>
            <p class="text-center" th:text="#{subject.info}"></p>

            <form th:object="${subject}">

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{subject.list.name}"></span>
                            </div>
                            <input id="subjectName" type="text" th:class="'form-control'" th:value="${subject.name}" readonly>
                            <div class="invalid-feedback" th:text="${#fields.errors('name')}"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{lecturer.list.name}"></span>
                            </div>
                            <input id="lecturerName" type="text" th:class="'form-control'" th:value="${subject.lecturer.name} ?: #{subject.list.lecturer.none}" readonly>
                            <div class="invalid-feedback" th:text="${#fields.errors('name')}"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{subject.list.studentGroups}"></h2>
        </div>
    </div>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <div class="table-responsive">
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{studentGroup.list.id}"></th>
                        <th th:text="#{studentGroup.list.name}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:if="${groups.contains(group)}" th:each="group: ${groups}">
                        <tr>
                            <td th:text="${group.id}"></td>
                            <td th:text="${group.name}"></td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
            </div>
        </div>
    </div>


</div>
</body>
</html>