<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_admin :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{admin.info}"></h2>
            <p class="text-center" th:text="#{message.sent}"></p>
        </div>
    </div>
    <th:block th:if="${!messageList.isEmpty()}">
        <div class="jumbotron" style="margin-top:20px">
            <div class="container">
                <div class="table-responsive">
                    <table class="table">

                        <thead class="thead-dark">
                        <tr>
                            <th th:text="#{message.sender}"></th>
                            <th th:text="#{message.text}"></th>
                            <th th:text="#{message.received.date}"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="message: ${messageList}">
                            <tr>
                                <td th:text="${message.receiverMail}"></td>
                                <td th:text="${#strings.abbreviate(message.text,30)}"></td>
                                <td th:text="${message.sendDate}"></td>
                                <td>
                                    <a th:href="@{'/admin/admin_message_view/' + ${message.sender.email}+'/' +${message.id}}" class="btn btn-success custom-width" th:text="#{message.view}"></a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </th:block>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>