<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_admin :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{admin.info}"></h2>
            <p class="text-center" th:text="#{admin.studentGroup.list}"></p>
        </div>
    </div>


    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <div class="table-responsive">
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{studentGroup.list.id}"></th>
                        <th th:text="#{studentGroup.list.name}"></th>
                        <th th:text="#{studentGroup.list.degree}"></th>
                        <th th:text="#{studentGroup.list.courseType}"></th>
                        <th th:text="#{studentGroup.list.year}"></th>
                        <th th:text="#{user.list.actions}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="studentGroup : ${studentGroupList}">
                        <tr>
                            <td th:text="${studentGroup.id}"></td>
                            <td th:text="${studentGroup.name}"></td>
                            <td th:text="${studentGroup.degree}"></td>
                            <td th:text="${studentGroup.courseType}"></td>
                            <td th:text="${studentGroup.year}"></td>
                            <td style="width: 30%">
                                <a th:href="@{/admin/student_group_edit/{id}(id=${studentGroup.id})}" class="btn btn-success custom-width" th:text="#{list.edit}"></a>
                                <a th:href="@{/admin/student_group_list(deleteId=${studentGroup.id})}" class="btn btn-danger custom-width" th:text="#{list.delete}"></a>
                                <a th:href="@{/admin/student_group_add_subject(groupId=${studentGroup.id})}" class="btn btn-primary custom-width" th:text="#{group.add.subject}"></a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>