<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_admin :: navbar"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{admin.info}"></h2>
            <p class="text-center" th:text="#{group.add.subject.to.group}"></p>
        </div>
    </div>


    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <div class="table-responsive">
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{subject.list.id}"></th>
                        <th th:text="#{subject.list.name}"></th>
                        <th th:text="#{subject.list.studentGroups}"></th>
                        <th th:text="#{user.list.actions}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="subject : ${subjects}">
                        <tr>
                            <td th:text="${subject.id}"></td>
                            <td th:text="${subject.name}"></td>
                            <td>
                                <th:block th:each="group: ${subject.studentGroups}">
                                    <span th:text="${group.name} + ', '"></span>
                                </th:block>
                            </td>
                            <td style="width: 10%">
                                <a th:if="${!group_subjects.getSubjects().contains(subject)}" th:href="@{'/admin/subject_add_group/' + ${subject.id}+'/' +${student_group_id}}" class="btn btn-success custom-width" th:text="#{list.add}"></a>
                                <a th:if="${group_subjects.getSubjects().contains(subject)}" th:href="@{'/admin/subject_remove_group/' + ${subject.id}+'/' +${student_group_id}}" class="btn btn-danger custom-width" th:text="#{list.delete}"></a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>