<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_admin :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{admin.info}"></h2>
            <p class="text-center" th:text="#{admin.studentIndex.list}"></p>
        </div>
    </div>


    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <div class="table-responsive">
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{studentIndex.list.id}"></th>
                        <th th:text="#{studentIndex.list.group}"></th>
                        <th th:text="#{studentIndex.list.subject}"></th>
                        <th th:text="#{studentIndex.list.lecturer}"></th>
                        <th th:text="#{studentIndex.list.student}"></th>
                        <th th:text="#{studentIndex.list.grade}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="studentIndex : ${studentIndexList}">
                        <tr>
                            <td th:text="${studentIndex.id}"></td>
                            <td th:text="${studentIndex.studentGroup.name}"></td>
                            <td th:text="${studentIndex.subject.name}"></td>
                            <td th:text="${studentIndex.lecturer.email}"></td>
                            <td th:text="${studentIndex.student.email}"></td>
                            <td th:text="${studentIndex.grade}"></td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>