<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_admin :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{admin.info}"></h2>
            <p class="text-center" th:text="#{admin.subject.add}"></p>
        </div>
    </div>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container">

            <form method="post" th:action="@{/admin/subject_add}" th:object="${subject}">

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{subject.list.id}"></span>
                            </div>
                            <input id="id" type="text" th:class="'form-control' + ${#fields.hasErrors('id') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{id}" readonly>
                            <div class="invalid-feedback" th:text="${#fields.errors('id')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{subject.list.name}"></span>
                            </div>
                            <input id="name" type="text" th:class="'form-control' + ${#fields.hasErrors('name') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{name}">
                            <div class="invalid-feedback" th:text="${#fields.errors('name')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{subject.list.studentGroups}"></span>
                            </div>
                            <input id="studentGroups" type="text" th:class="'form-control' + ${#fields.hasErrors('studentGroups') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{studentGroups}" readonly>
                            <div class="invalid-feedback" th:text="${#fields.errors('studentGroups')}"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3"></div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn btn-primary btn-block" type="submit" th:text="#{admin.save}"></button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>