<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_admin :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{admin.info}"></h2>
            <p class="text-center" th:text="#{admin.add.lecturer.to.subject}"></p>
        </div>
    </div>


    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <div class="table-responsive">
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{lecturer.list.id}"></th>
                        <th th:text="#{lecturer.list.email}"></th>
                        <th th:text="#{lecturer.list.name}"></th>
                        <th th:text="#{lecturer.list.surname}"></th>
                        <th th:text="#{user.list.actions}"></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:if="${lecturers.contains(lecturer)}" th:each="lecturer : ${lecturers}">
                        <tr>
                            <td th:text="${lecturer.id}"></td>
                            <td th:text="${lecturer.email}"></td>
                            <td th:text="${lecturer.name}"></td>
                            <td th:text="${lecturer.surname}"></td>
                            <td style="width: 10%">
                                <a th:if="${subject.lecturer == null}" th:href="@{'/admin/subject_add_lecturer/' + ${subjectId}+'/' +${lecturer.id}}" class="btn btn-success custom-width" th:text="#{list.add}"></a>
                                <a th:if="${subject.lecturer != null and subject.lecturer.equals(lecturer)}" th:href="@{'/admin/subject_remove_lecturer/' + ${subjectId}+'/' +${lecturer.id}}" class="btn btn-danger custom-width" th:text="#{list.delete}"></a>
                            </td>
                            <!--TODO zmienić aby wyglądało ładnie// zmiana nazwy itd-->
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
                    <th:block th:unless="${lecturers.contains(lecturer)}" th:each="lecturer : ${lecturers}">
                        <div class="jumbotron" style="margin-top:20px">
                            <div class="container">
                                NO LECTURERS
                            </div>
                        </div>
                    </th:block>


</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>
