<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_admin :: navbar"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{admin.info}"></h2>
            <p class="text-center" th:text="#{admin.add.group.to.user}"></p>
        </div>
    </div>


    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <div class="table-responsive">
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{studentGroup.list.id}"></th>
                        <th th:text="#{studentGroup.list.name}"></th>
                        <th th:text="#{studentGroup.list.degree}"></th>
                        <th th:text="#{studentGroup.list.courseType}"></th>
                        <th th:text="#{studentGroup.list.year}"></th>
                        <th th:text="#{admin.add.group.user}"></th>
                        <th th:text="#{user.list.actions}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="student_group : ${student_groups}">
                        <tr>
                            <td th:text="${student_group.id}"></td>
                            <td th:text="${student_group.name}"></td>
                            <td th:text="${student_group.degree}"></td>
                            <td th:text="${student_group.courseType}"></td>
                            <td th:text="${student_group.year}"></td>
                            <td>
                                <th:block th:each="user: ${student_group.users}">
                                    <span th:text="${user.email} + ', '"></span>
                                </th:block>
                            </td>
                            <td style="width: 10%">
                                <div th:if="${user_dto.studentGroup} == null">
                                    <a th:href="@{'/admin/group_add_user/' + ${student_group.id}+'/' +${user_id}}" class="btn btn-success custom-width" th:text="#{list.add}"></a>
                                </div>
                                <div th:unless="${user_dto.studentGroup} == null">
                                    <a th:if="${student_group.getUsers().contains(user_dto)}" th:href="@{'/admin/group_remove_user/' + ${student_group.id}+'/' +${user_id}}" class="btn btn-danger custom-width" th:text="#{list.delete}"></a>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>