<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_admin :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{admin.info}"></h2>
            <p class="text-center" th:text="#{admin.user.list}"></p>
        </div>
    </div>


    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <div class="table-responsive">
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{user.list.id}"></th>
                        <th th:text="#{user.list.email}"></th>
                        <th th:text="#{user.list.name}"></th>
                        <th th:text="#{user.list.surname}"></th>
                        <th th:text="#{user.list.role}"></th>
                        <th th:text="#{user.list.country}"></th>
<!--                        <th th:text="#{user.list.postCode}"></th>-->
<!--                        <th th:text="#{user.list.city}"></th>-->
<!--                        <th th:text="#{user.list.street}"></th>-->
                        <th th:text="#{user.list.studentGroup}"></th>
                        <th th:text="#{user.list.actions}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="user : ${user_list}">
                        <tr>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.surname}"></td>
                            <td th:text="${user.role}"></td>
                            <td th:text="${user.country}"></td>
<!--                            <td th:text="${user.postCode}"></td>-->
<!--                            <td th:text="${user.city}"></td>-->
<!--                            <td th:text="${user.street}"></td>-->
                            <td th:if="${user.studentGroup} == null" th:text="${user.studentGroup}"></td>
                            <td th:unless="${user.studentGroup} == null" th:text="${user.studentGroup.name}"></td>
                            <td style="width: 30%">
                                <a th:href="@{/admin/user_edit/{id}(id=${user.id})}" class="btn btn-success custom-width" th:text="#{list.edit}"></a>
                                <a th:href="@{/admin/user_list(deleteId=${user.id})}" class="btn btn-danger custom-width" th:text="#{list.delete}"></a>
                                <a th:if="${user.role.equals(role_student)}" class="btn btn-primary custom-width" th:href="@{/admin/user_add_group(userId=${user.id})}" th:text="#{admin.add.group}"></a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>