<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_admin :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{admin.info}"></h2>
            <p class="text-center" th:text="#{admin.user.edit}"></p>
        </div>
    </div>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container">

            <form method="post" th:action="@{/admin/user_edit}" th:object="${user}">

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.id}"></span>
                            </div>
                            <input id="id" type="text" th:class="'form-control' + ${#fields.hasErrors('id') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{id}" readonly>
                            <div class="invalid-feedback" th:text="${#fields.errors('id')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.email}"></span>
                            </div>
                            <input id="email" type="text" th:class="'form-control' + ${#fields.hasErrors('email') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{email}">
                            <div class="invalid-feedback" th:text="${#fields.errors('email')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.password}"></span>
                            </div>
                            <input id="password" type="text" th:class="'form-control' + ${#fields.hasErrors('password') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{password}" readonly>
                            <div class="invalid-feedback" th:text="${#fields.errors('password')}"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.role}"></span>
                            </div>
                            <select class="form-control" id="sel1" th:field="*{role}">
                                <option th:each="role:${role_list}" th:value="${role}" th:utext="${role}"></option>
                            </select>
                            <div class="invalid-feedback" th:text="${#fields.errors('role')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.name}"></span>
                            </div>
                            <input id="name" type="text" th:class="'form-control' + ${#fields.hasErrors('name') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{name}">
                            <div class="invalid-feedback" th:text="${#fields.errors('name')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.surname}"></span>
                            </div>
                            <input id="surname" type="text" th:class="'form-control' + ${#fields.hasErrors('surname') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{surname}">
                            <div class="invalid-feedback" th:text="${#fields.errors('surname')}"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.country}"></span>
                            </div>
                            <input id="country" type="text" th:class="'form-control' + ${#fields.hasErrors('country') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{country}">
                            <div class="invalid-feedback" th:text="${#fields.errors('country')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.postCode}"></span>
                            </div>
                            <input id="postCode" type="text" th:class="'form-control' + ${#fields.hasErrors('postCode') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{postCode}">
                            <div class="invalid-feedback" th:text="${#fields.errors('postCode')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.city}"></span>
                            </div>
                            <input id="city" type="text" th:class="'form-control' + ${#fields.hasErrors('city') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{city}">
                            <div class="invalid-feedback" th:text="${#fields.errors('city')}"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.street}"></span>
                            </div>
                            <input id="street" type="text" th:class="'form-control' + ${#fields.hasErrors('street') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{street}">
                            <div class="invalid-feedback" th:text="${#fields.errors('street')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.studentGroup}"></span>
                            </div>
                            <input id="studentGroup" type="text" th:class="'form-control' + ${#fields.hasErrors('studentGroup') ? ' is-invalid' : ''}" autocomplete="off" th:field="*{studentGroup}" readonly>
                            <div class="invalid-feedback" th:text="${#fields.errors('studentGroup')}"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3"></div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn btn-primary btn-block" type="submit" th:text="#{admin.save}"></button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>