<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navbar fragment</title>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/lecturer}" th:text="#{app.nav.home}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/lecturer/index_list}" th:text="#{lecturer.index}"></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="messagedrop" data-toggle="dropdown" th:text="#{message}"></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/lecturer/lecturer_message_send}" th:text="#{message.send}"></a>
                <a class="dropdown-item" th:href="@{/lecturer/lecturer_message_list_received}" th:text="#{message.received}"></a>
                <a class="dropdown-item" th:href="@{/lecturer/lecturer_message_list_sent}" th:text="#{message.sent}"></a>
            </div>
        </li>
    </ul>
</div>

</body>
</html>