<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navbar fragment</title>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin}" th:text="#{app.nav.home}"></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userdrop" data-toggle="dropdown" th:text="#{admin.user}"></th:text></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/admin/user_list}" th:text="#{admin.user.list}"></a>
                <a class="dropdown-item" th:href="@{/admin/user_add}" th:text="#{admin.user.add}"></a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="studentgroupdrop" data-toggle="dropdown" th:text="#{admin.student_group}"></th:text></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/admin/student_group_list}" th:text="#{admin.studentGroup.list}"></a>
                <a class="dropdown-item" th:href="@{/admin/student_group_add}" th:text="#{admin.studentGroup.add}"></a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="subjectdrop" data-toggle="dropdown" th:text="#{admin.subject}"></th:text></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/admin/subject_list}" th:text="#{admin.subject.list}"></a>
                <a class="dropdown-item" th:href="@{/admin/subject_add}" th:text="#{admin.subject.add}"></a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="studentindexdrop" data-toggle="dropdown" th:text="#{admin.student_index}"></th:text></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/admin/student_index_list}" th:text="#{admin.studentIndex.list}"></a>
                <!--<a class="dropdown-item" th:href="@{/admin/student_index_add}" th:text="#{admin.studentIndex.add}"></a>-->
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="messagedrop" data-toggle="dropdown" th:text="#{message}"></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/admin/admin_message_send}" th:text="#{message.send}"></a>
                <a class="dropdown-item" th:href="@{/admin/admin_message_list_received}" th:text="#{message.received}"></a>
                <a class="dropdown-item" th:href="@{/admin/admin_message_list_sent}" th:text="#{message.sent}"></a>
            </div>
        </li>
    </ul>
</div>

</body>
</html>