.btn-info {
    color: rgba(255, 255, 255, 0.5) !important;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    color: rgba(255, 255, 255, 0.75) !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.jumbotron {
    padding: 1rem 1rem !important;
    margin-bottom: 1rem !important;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}