<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/index}" th:text="#{app.nav.home}"></a>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" th:text="#{app.nav.login}"></a>
                </li>
            </ul>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <h3 align="center" th:text="#{index.txt1}"></h3>
        <p align="center" th:text="#{index.txt2}"></p>
    </div>



</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>