<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}" th:text="#{app.nav.home}"></a>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/login}" th:text="#{app.nav.login}"></a>
                </li>
            </ul>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="post" th:action="@{/login}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{user.email}"></span>
                        </div>
                        <input name="username" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{user.password}"></span>
                        </div>
                        <input name="password" type="password" class="form-control" autocomplete="off">
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn btn-primary btn-block" type="submit" th:text="#{user.login}"></button>
                    </div>
                </form>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>