<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_lecturer :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{lecturer.info}"></h2>
            <p class="text-center" th:text="#{lecturer.index}"></p>
        </div>
    </div>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <form method="post" th:action="@{/lecturer/index_list}" th:object="${student_group}">

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.list.studentGroup}"></span>
                            </div>
                            <select class="form-control" id="name" th:field="*{name}">
                                <option th:each="student_group:${student_group_list}" th:value="${student_group.name}"
                                        th:utext="${student_group.name}"></option>
                            </select>
                            <div class="invalid-feedback" th:text="${#fields.errors('name')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn btn-primary btn-block" type="submit"
                                    th:text="#{app.search}"></button>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3"></div>
                </div>

            </form>
        </div>
    </div>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container">

            <form method="post" th:action="@{/lecturer/group_grades_submition}" th:object="${students_grades}">
                <div class="table-responsive text-nowrap">
                    <table class="table">

                        <thead class="thead-dark">
                        <tr>
                            <th th:text="#{studentIndex.list.id}"></th>
                            <th th:text="#{studentIndex.list.subject}"></th>
                            <th th:text="#{user.list.email}"></th>
                            <th th:text="#{user.list.name}"></th>
                            <th th:text="#{user.list.surname}"></th>
                            <th th:text="#{studentIndex.list.grade}"></th>
                            <th th:text="#{studentIndex.list.newgrade}"></th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <th:block th:each="studentIndex,index : ${index_list}">
                            <tr>
                                <td th:text="${studentIndex.getId()}"></td>
                                <td th:text="${studentIndex.subject.name}"></td>
                                <td th:text="${studentIndex.student.getEmail()}"></td>
                                <td th:text="${studentIndex.student.getName()}"></td>
                                <td th:text="${studentIndex.student.getSurname()}"></td>
                                <td th:text="${studentIndex.getGrade()}"></td>
                                <!--<td style="width: 10%">-->
                                <input th:class="form-control" autocomplete="off"
                                       th:field="*{grades[__${index.index}__].studentIndex}" hidden/>
                                <!--</td>-->
                                <td style="width: 10%">
                                    <input th:class="form-control" autocomplete="off"
                                           th:field="*{grades[__${index.index}__].grade}"/>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>

                    </table>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3"></div>
                    <div class="col-md-4 mb-3"></div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn btn-primary btn-block" type="submit" th:text="#{admin.save}"></button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>


</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>