<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_lecturer :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{lecturer.info}"></h2>
            <p class="text-center" th:text="#{message.send}"></p>
        </div>
    </div>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container">

            <form method="post" th:action="@{/lecturer/lecturer_message_send}" th:object="${message}">

                <div class="col-md-12 mb-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{message.receiver}"></span>
                        </div>
                        <select class="form-control" id="receiverMail" th:field="*{receiverMail}">
                            <option th:each="user:${user_list}" th:value="${user.email}"
                                    th:utext="${user.email}"></option>
                        </select>
                        <!--<input class="form-control" id="receiverMail" type="text" autocomplete="off" th:field="*{receiverMail}">-->
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{message.text}"></span>
                        </div>
                        <textarea class="form-control" rows="5" id="text" type="text" autocomplete="off" th:field="*{text}"></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3"></div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn btn-primary btn-block" type="submit" th:text="#{message.send}"></button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>