<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">
        <th:block th:insert="fragments/body :: logoutbutton"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <th:block th:insert="fragments/navbar_lecturer :: navbar"/>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <h2 class="text-center" th:text="#{lecturer.info}"></h2>
            <p class="text-center" th:text="#{message.view}"></p>
        </div>
    </div>
    <th:block th:if="${userAccesing==userPrincipal}">
    <div class="col-md-12 mb-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" th:text="#{message.text}"></span>
            </div>
            <textarea class="form-control" rows="5" id="text" type="text" autocomplete="off" th:field="${message.text}"></textarea>
        </div>
    </div>
    </th:block>
</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>